@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/hyphenation";
@import "compass/css3/opacity";
@import "compass/css3/text-shadow";
@import "compass/css3/images";

// TODO: do we need the following?
@import "compass/css3/transition";
@import "compass/css3/transform";

& {
	width: $box-width;
	padding: $box-padding-top $box-padding-left-right $box-padding-bottom $box-padding-left-right;
	position: relative;
	z-index: 10;
	@include border-radius($box-border-radius);
	@include single-box-shadow($box-shadow-color, $box-shadow-width, $box-shadow-width, $box-shadow-blur);
	@include opacity($box-opacity);
	background: $box-background-color;
	@if $box-background-use-gradient {
		@include background-image(linear-gradient($box-background-color-start, $box-background-color-end));
	}
	border: $box-border-width solid $box-border-color;
	color: $text-color;
	font-size: 90%;
	font-family: $text-font;
	font-size: $text-size;
	line-height: 1.5em;

	#{headings(all)} {
		position: relative;
		width: $box-width + 2*$head-overflow-size;
		color: $head-color;
		padding: $head-padding-top-bottom 0;
		margin-left: -$head-overflow-size;
		margin-right: -$head-overflow-size;
		margin-top: 0;
		margin-bottom: $head-margin-bottom;
		left: 0;
		z-index: 11;

		@include single-box-shadow($head-background-shadow-color, $head-background-shadow-width, $head-background-shadow-width, $head-background-shadow-blur);
		background: $head-background-color;
		@if $head-background-use-gradient {
			@include background-image(linear-gradient($head-background-color-start, $head-background-color-end));
		}

		font-family: $head-font;
		font-size: $head-size;
		line-height: $head-line-height;
		font-weight: $head-font-weight;
		text-align: center;
		@include text-shadow($head-text-shadows...);

		span {
			display: block;
			padding: 0 $head-padding-left-right;
		}
	}

	p {
		margin: 4px;
		margin-bottom: 1em;
		@include word-break(break-all);
	}

	.naviLinks {
		text-align: center;
		margin-top: 1.5em;

		a.scrollLink {
			border: 1px solid $link-border-color;
			background-color: $link-background-color;
			padding: 3px 6px;
			text-decoration: none;
			color: $link-color;
			font-size: $text-size - 1;
			margin: 4px;
			@include border-radius(4px);

			&:hover {
				background-color: $link-background-color-hover;
				color: $link-color-hover;
				@include single-transition();
			}
		}
	}


	/* ##############################################################################
	   ################## You are entering the experimental zone ! ##################
	   ############################################################################## */

	@mixin badge-effect-triangle($anchor) {
		$badge-border-width: $head-overflow-size - $box-border-width - $box-padding-left-right;
		content: "\00a0";
		display: block; /* reduce the damage in FF3.0 */
		position: absolute;
		bottom: -2*$badge-border-width; /* value = - border-top-width - border-bottom-width */
		#{$anchor}: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: $badge-border-width;
		@if $head-background-use-gradient {
			border-color: darken($head-background-color-end, $head-background-badge-fade) transparent transparent;
		}
		@else {
			border-color: darken($head-background-color, $head-background-badge-fade) transparent transparent;
		}
		z-index: 9;
	}

	#{headings(all)} {
		&:before {
			@include badge-effect-triangle("left");
			border-right-width: 0;
		}

		&:after {
			@include badge-effect-triangle("right");
			border-left-width: 0;
		}
	}


	// &:before { @include badge-effect-triangle("left"); }
	// &:after { @include badge-effect-triangle("right"); }

	/* left shadow */

	.infobox p{
	font-size:1.2em;
	color:#fff;
	margin:15px 5px 10px 10px;
	}
	.infobox strong{
	display:block;
	}

}