
@mixin fixed_element($height: auto, $anchor: top) {
	position: fixed;
	#{$anchor}: 0;
	left: 0;
	width: 100%;
	height: $height;
	line-height: $height;
	z-index: 10;
}

#header {
	@include fixed_element;
	// background-image: url("../img/header.png"); // TODO: proper background (none with cool branding image, color)
	text-align: center;
	padding: 5px;
}

#footer {
	@include fixed_element(130px, bottom);
	position: absolute;
	top: $number_of_pages * $page_height;
	background-image: url("../img/footer.png"); // TODO: proper background (party people)
}

#impressum {
	position: absolute;
	right: 65px;
	bottom: 115px;
}