/* 
 * Main Place for Imports and Global Styles
 */

// GOOGLE FONT API: Unica One 400, Abel 400
// @import url("http://fonts.googleapis.com/css?family=Unica+One:400|Abel:400"); # TODO: add again (removed for testing purpose)

// BASIC PAGE SETUP
$background-color: #002;
$page_height: 1300px;
$number_of_pages: 3;
$layer-width: 940px;
$color-grey: #424242;
$color-orange: #FF8F40;

// TEXT BOX SETTINGS
// defaults in: sass/content_box/_base.scss
$box-background-color: $color-grey;
$box-margin-top: 70px;
$box-opacity: .9;

// HEADLINE SETTINGS
// defaults in: sass/content_box/_headder.scss
$head-text-color: $box-background-color;
$head-background-use-gradient: true;
$head-text-font: "Unica One";
$head-badge-fade: 25%;
$head-background-color-end: darken($color-orange, 12%); // TODO: remove these (they are copied defaults)
$head-background-color-start: darken($color-orange, 23%); // TODO: remove these (they are copied defaults)

// TEXT BASE SETTINGS
// defaults in: sass/content_box/_base.scss
$text-base-font: "Abel";
$text-base-size: 14pt;
$text-base-color: #f1f1f1;

// TEXT LINKS SETTINGS
// defaults in: sass/content_box/_links.scss
$body-link-color: darken(#424242, 20%);
$body-link-color-hover: darken($head-text-color, 20%);
$body-link-background: rgba(241, 241, 241, .3);
$body-link-background-hover: $head-background-color-end;

// TEXT HEADDING SETTINGS
// defaults in: sass/content_box/_body.scss
$body-heading-color: $color-orange;
$body-heading-font: "Unica One";
$body-heading-size: 16pt;
$body-heading-decoration: none;
$body-heading-border-bottom: 1px solid $body-heading-color;

// NAVI LINK SETTINGS
// defaults in: sass/content_box/_navi.scss
$navi-text-size: $text-base-size - 1;
$navi-link-color: $text-base-color;
$navi-link-color-hover: darken($head-text-color, 15%);
$navi-link-background: darken($box-background-color, 20%);
$navi-link-background-hover: $head-background-color-end;
$navi-link-border: none;


// INCLUDE COMPASS AND CUSTOM STYLES
// @import "compass/reset";
@import "html5bs/normalize";
@import "html5bs/defaults";
@import "html5bs/helpers";
@import "head_and_tail";
@import "main";
