@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/hyphenation";
@import "compass/css3/opacity";
@import "compass/css3/text-shadow";
@import "compass/css3/images";

// TODO: do we need the following?
@import "compass/css3/transition";
@import "compass/css3/transform";


// TODO: remove or integrate the following:
$link-color: $text-base-color;
$link-color-hover: darken($head-text-color, 15%);
$link-background-color: darken($box-background-color, 20%);
$link-background-color-hover: $head-background-color-end;
$link-border-color: darken($box-border-color, 50%);


.page-content {
	width: $box-width;
	position: relative;
	z-index: 10;

	// background and shadow
	background: $box-background-color;
	@if $box-background-use-gradient {
		@include background-image(linear-gradient($box-background-color-start, $box-background-color-end));
	}
	@include single-box-shadow($box-shadow-color, $box-shadow-width, $box-shadow-width, $box-shadow-blur);
	@include opacity($box-opacity);

	// border and padding
	border: $box-border-width solid $box-border-color;
	@include border-radius($box-border-radius);
	padding: $box-padding-top $box-padding-left-right $box-padding-bottom $box-padding-left-right;

	// base font settings
	color: $text-base-color;
	font-family: $text-base-font;
	font-size: $text-base-size;
	line-height: 1.5em;

	@import "content_box/box_appearence";
	@import "content_box/head";
	@import "content_box/body";
	@import "content_box/navi";

/* ######################################################################################
   ##################### Your are entering the experimental stage ! #####################
   ###################################################################################### */

	.navi2 {
		margin-left: 2em;

		a {
			font-size: $text-base-size;
		    text-decoration: none;
		    color: $link-color;
		}
		    
		a:hover {
		    color: $link-color-hover;
		    text-shadow: none;
		    border: none;
		    border-radius: 2px;
		}

		a span {
			// background-color: yellow;
			background-color: $link-background-color;
		}

		/*********************************************
		 * ROLLING LINKS
		 *********************************************/

		.roll {
		    display: inline-block;
		    overflow: hidden;
		    vertical-align: top;

		    -webkit-perspective: 300px;
		       -moz-perspective: 300px;
		        -ms-perspective: 300px;
		            perspective: 300px;

		    -webkit-perspective-origin: 50% 50%;
		       -moz-perspective-origin: 50% 50%;
		        -ms-perspective-origin: 50% 50%;
		            perspective-origin: 50% 50%;

			// -webkit-perspective: 200px;
			// -webkit-transition: all .07s linear;
		}
		.roll:hover {
		    background: none;
		    text-shadow: none;
		}
		.roll span {
		    display: block;
		    position: relative;
		    padding: 0 2px;
		    pointer-events: none;

		    -webkit-transition: all 450ms ease;
		       -moz-transition: all 300ms ease;
		        -ms-transition: all 300ms ease;
		            transition: all 300ms ease;
		    
		    -webkit-transform-origin: 50% 0%;
		       -moz-transform-origin: 50% 0%;
		        -ms-transform-origin: 50% 0%;
		            transform-origin: 50% 0%;
		    
		    -webkit-transform-style: preserve-3d;
		       -moz-transform-style: preserve-3d;
		        -ms-transform-style: preserve-3d;
		            transform-style: preserve-3d;

		}
		.roll:hover span {
		    // background: rgba(190,190,20,.9);
		    // background: $link-background-color;

		    -webkit-transform: translate3d( 0px, 0px, -55px ) rotateX( 90deg );
		       -moz-transform: translate3d( 0px, 0px, -55px ) rotateX( 90deg );
		        -ms-transform: translate3d( 0px, 0px, -55px ) rotateX( 90deg );
		            transform: translate3d( 0px, 0px, -55px ) rotateX( 90deg );

			// -webkit-transform: rotatex(-90deg);
		}
		.roll span:after {
		    content: attr(data-title);

		    display: block;
		    position: absolute;
		    left: 0;
		    top: 0;
		    padding: 1px 2px;
		    white-space: nowrap;

		    color: white;
		    background: #a533fd;
		    background: $link-background-color-hover;

		    -webkit-transform-origin: 50% 0%;
		       -moz-transform-origin: 50% 0%;
		        -ms-transform-origin: 50% 0%;
		            transform-origin: 50% 0%;

		    -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
		       -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
		        -ms-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
		            transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
		}
	}
}