@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
@import "compass/css3/images";

// default box settings
$box-background-color: #424242 !default;
$box-background-color-end: #424242 !default;
$box-background-color-start: #6a6a6a !default;
$box-background-use-gradient: true !default;
$box-border-color: lighten($box-background-color, 8%) !default;
$box-border-radius: 2px !default;
$box-border-width: 2px !default;
$box-margin-top: 50px !default;
$box-opacity: 1 !default;
$box-padding-bottom: 5px !default;
$box-padding-left-right: 5px !default;
$box-padding-top: 10px !default;
$box-shadow-blur: 3px !default;
$box-shadow-color: rgba(0,0,0,0.55) !default;
$box-shadow-width: 0 !default;
$box-width: 350px !default;

// default font settings
$text-base-font: "Arial", sans !default;
$text-base-size: 14px !default;
$text-base-color: white !default;

.page-content {
	width: $box-width;
	margin-top: $box-margin-top;
	position: relative;
	z-index: 10;

	// background and shadow
	background: $box-background-color;
	@if $box-background-use-gradient {
		@include background-image(linear-gradient($box-background-color-start, $box-background-color-end));
	}
	@include single-box-shadow($box-shadow-color, $box-shadow-width, $box-shadow-width, $box-shadow-blur);
	@if $box-opacity < 1 {
		@include opacity($box-opacity);
	}

	// border and padding
	border: $box-border-width solid $box-border-color;
	@include border-radius($box-border-radius);
	padding: $box-padding-top $box-padding-left-right $box-padding-bottom $box-padding-left-right;

	// base font settings
	color: $text-base-color;
	font-family: $text-base-font;
	font-size: $text-base-size;
	line-height: 1.5em;

	@import "content_box/box_appearence";
	@import "content_box/head";
	@import "content_box/body";
	@import "content_box/navi";
}