@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/images";

// HEADLINE SETTINGS
$head-background-color: #FF8F40 !default;
$head-background-color-end: darken($head-background-color, 12%) !default;
$head-background-color-start: darken($head-background-color, 23%) !default;
$head-background-use-gradient: false !default;
$head-margin-bottom: .5em !default;
$head-margin-top: 0 !default;
$head-padding-horizontal: .5em !default;
$head-padding-vertical: .3em !default;
$head-shadow: rgba(0,0,0,0.75) 4px 4px 26px !default; /* color x y blur */
$head-stick-out-size: 25px !default;
$head-text-align: center !default;
$head-text-color: #424242 !default;
$head-text-font: sans-serif !default;
$head-text-font-weight: normal !default;
$head-text-line-height: 1em !default;
$head-text-shadows: none !default;
$head-text-size: 32pt !default;

// BADGE COLOR
$head-badge-fade: 20% !default;
$badge-border-width: $head-stick-out-size - $box-border-width - $box-padding-left-right !default;
$badge-border-color: darken($head-background-color, $head-badge-fade) !default;
@if $head-background-use-gradient {
	$badge-border-color: darken($head-background-color-end, $head-badge-fade) !default;
}

h1 {
	width: $box-width + 2*$head-stick-out-size;
	padding: $head-padding-vertical 0;

	// positioning
	position: relative;
	left: 0;
	z-index: 11;
	margin: {
		left: -$head-stick-out-size;
		right: -$head-stick-out-size;
		bottom: $head-margin-bottom;
		top: $head-margin-top;
	};

	// font settings
	color: $head-text-color;
	font-family: $head-text-font;
	font-size: $head-text-size;
	line-height: $head-text-line-height;
	font-weight: $head-text-font-weight;
	text-align: $head-text-align;
	@include text-shadow($head-text-shadows...);

	// proper margin and padding for text
	span {
		display: block;
		padding: 0 $head-padding-horizontal;
	}

	// background and shadow
	background: $head-background-color;
	@if $head-background-use-gradient {
		@include background-image(linear-gradient($head-background-color-start, $head-background-color-end));
	}
	@include box-shadow($head-shadow);

	// badge effect (3D effect generating triangles)
	// see: http://www.prothemer.com/blog/experiments/no-presentational-markup-css3-infobox/
	@mixin badge-effect-triangle($anchor) {
		content: "\00a0";
		display: block; /* reduce the damage in FF3.0 */
		position: absolute;
		bottom: -2*$badge-border-width; /* value = - border-top-width - border-bottom-width */
		#{$anchor}: 0;
		width: 0;
		height: 0;
		border: $badge-border-width solid $badge-border-color;
		border-style: solid;
		border-width: $badge-border-width;
		border-color: $badge-border-color transparent transparent;
		z-index: 9;
	}

	&:before {
		@include badge-effect-triangle("left");
		border-right-width: 0;
	}

	&:after {
		@include badge-effect-triangle("right");
		border-left-width: 0;
	}
}