@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/border-radius";

$navi-link-background: #333 !default;
$navi-link-background-hover: #ccc !default;
$navi-link-border: 1px solid black !default;
$navi-link-border-hover: $navi-link-border !default;
$navi-link-border-radius: 0 !default;
$navi-link-color: #ccc !default;
$navi-link-color-hover: #333 !default;
$navi-link-padding: 1px 15px !default;
$navi-margin: .5em 0 0 0 !default;
$navi-perspective: 200px !default;
$navi-text-size: auto !default;
$navi-transform-translatez: 15px !default;
$navi-transition: all .3s ease-out !default;

// see: http://davidwalsh.name/3d-menu
.navi {
	text-align: center;
	margin: $navi-margin;
	font-size: $navi-text-size;

    a {
        display: inline-block;
        text-decoration: none;
        @include perspective($navi-perspective);
    }

    a .container {
        position: relative;
        @include transition($navi-transition);
		@include transform-style(preserve-3d);
        @include transform(translatez(-$navi-transform-translatez));
    }

    a:hover .container {
        @include transform(translatez(-$navi-transform-translatez) rotatex(90deg));
    }

    .front, .back, .back span {
        display: block;
    }

    .front, .back span {
        padding: $navi-link-padding;
    }

    .front {
        color: $navi-link-color;
        border: $navi-link-border;
        background-color: $navi-link-background;
        @include transform(rotatex(0deg) translatez($navi-transform-translatez));
        @if $navi-link-border-radius > 0 {
			@include border-radius($navi-link-border-radius);
        }
    }

    .back {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        color: $navi-link-color-hover;
        border: $navi-link-border-hover;
        background-color: $navi-link-background-hover;
        @include transform(rotatex(-90deg) translatez($navi-transform-translatez));
        @if $navi-link-border-radius > 0 {
			@include border-radius($navi-link-border-radius);
        }
    }
}