<h3><small style="float: right">[Live Floor]</small>LammBock</h3>
<p>Die lokale Band {{ link("LammBock", "http://www.lammbock.com") }} wird euch auf der Bühne ordentlich einheitzen.</p>
<h3><small style="float: right">[Live Floor]</small>DJ F2</h3>
<p>Danach legt DJ F2 für euch die heißen Platten auf und beschallt den Live-Bereich</p>
<h3><small style="float: right">[Dance Floor]</small>DJ NoG</h3>
<p>Auf dem Dance Floor gibt es die feinstens Beats mit DJ NoG, der auch schon letztes Jahr für euch die Scheiben rotieren ließ.</p>