<p>
    Auch dieses Jahr freuen wir uns wieder mit euch das Sommersemester gebührend einzuleuten.
</p>
<p>
    Wie die letzten drei Jahre bieten wir auch dieses Mal eine Party, die ihr nicht vergessen werdet!
</p>
<h3>Das haben wir für euch:</h3>

  <ul>
    <li>{{ link("Gute Musik", "musik", True, True) }}</li>
    <li>{{ link("Eine große Getränkeauswahl", "drinks", True, True) }}</li>
    <li>{{ link("Essen","essen", True, True) }}</li>
  </ul>
<p>
  Hier geht 's zum {{ link("Aufbau", "plan", True, True) }}.
</p>