{% extends "boilerplate.html" %}

{% block title %}Semester Opening 2013{% endblock %}

{% block styles %}
    <link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="css/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
{% endblock %}

{% block main %}
    <div id="header">{% include "header.html" %}</div>
    <div id="object-container">{% include "objects.html" %}</div>
    <div id="text-container">{% include "text.html" %}</div>
    <div id="footer"></div>
{% endblock %}