{% set pages = ["home", "musik", "drinks", "essen", "plan"] %}

{% macro link(name, href, scroll=false) -%}
    <a {% if scroll %}class="scrollLink"{% endif %} href="{{ href }}"><span data-title="{{ name }}">{{ name }}</span></a>
{%- endmacro %}

<div id="layerText">
	{% for page in pages %}
		{% with %}
			{% set page_number = loop.index %}
			{% set page_name = page %}
			{% set is_first = loop.first %}
			{% set is_last = loop.last %}
			{% include "pages/include.html" with context %}
		{% endwith %}
	{% endfor %}
</div>